NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAt_2ipIwnWiBwATTOCs0lbBanIXwnxORk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pharmacydextopapplication.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pharmacydextopapplication
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=pharmacydextopapplication.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1030412856819
NEXT_PUBLIC_FIREBASE_APP_ID=1:1030412856819:web:5bac2b16f2efa119487686

# JSON string of a Firebase service account for server-side access
FIREBASE_SERVICE_ACCOUNT={"project_id":"your-project-id","client_email":"firebase-adminsdk@your-project-id.iam.gserviceaccount.com","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"}

# Secret used to sign license tokens (use a long random string)
LICENSE_JWT_PRIVATE_KEY=wazir_naeem_dextop_application_license_key

# apiKey: "AIzaSyAt_2ipIwnWiBwATTOCs0lbBanIXwnxORk",
#   authDomain: "pharmacydextopapplication.firebaseapp.com",
#   projectId: "pharmacydextopapplication",
#   storageBucket: "pharmacydextopapplication.firebasestorage.app",
#   messagingSenderId: "1030412856819",
#   appId: "1:1030412856819:web:5bac2b16f2efa119487686",
#   measurementId: "G-SSXYS84TYB"
